{% assign certificate = site.data.data.certificate %}
{% if certificate %}
  {% if site.data.data.sidebar.certificate %}
  <div class="education-container container-block">

    <h2 class="container-block-title">
      Certificate
    </h2>

    {% for certi in certificate %}
    <div class="item">
      <h4 class="degree">{{ certi.name }}</h4>
      <h5 class="meta">{{ certi.agency }}</h5>
      <div class="time">{{ certi.date }}</div>
    </div><!--//item-->
    {% endfor %}

  </div><!--//education-container-->
  {% else %}
  {% endif %}
{% endif %}
